/Assets/Hand_Pictures/
/Assets/Hand_Videos/
/Scatch/Hand_Images/
/Scatch/test_hands/
/Assets/Hand_Video_2/
/Assets/Hand_Video_1/
/Assets/previous/
/Assets/Hand_Images/
/Assets/Hand_Images_2/
/Scatch/old_Hand_Images/

